$tableBorder: 1px solid #eee
$tableRowHeight: 40px
$tableCellPadding: 5px
$tableLineHeight: $tableRowHeight - ($tableCellPadding * 2)
@import "dt-head"

.data-table
  min-width: 100%

.dt-table
  min-width: 100%

.dt-body
  display: flex 
  flex-direction: column

.dt-row
  white-space: nowrap
  width: min-content
  min-width: 100%
  display: inline-flex 
  flex-direction: row
  border-bottom: $tableBorder
  height: $tableRowHeight

.dt-cell
  display: inline-block
  box-sizing: border-box
  text-overflow: ellipsis
  overflow: hidden
  outline: none
  text-align: left
  border-right: $tableBorder

.dt-body-cell
  height: $tableRowHeight
  line-height: $tableLineHeight
  padding: $tableCellPadding

.dt-scroll-container
  overflow: scroll
  height: 100%
