@use "sass:math"
$tableHeadCellSliderWidth: 10px
$tableHeadCellDropBorder: 3px solid #3ddce7
$tableHeadHeight: 60px
$tableHeadCellPadding: 10px
$tableHeadLineHeight: $tableHeadHeight - ($tableHeadCellPadding * 2)
  
.dt-head
  position: sticky
  top: 0
  color: #616161
  background-color: #fafafa
  height: $tableHeadHeight
  line-height: $tableHeadLineHeight
  text-align: left
  white-space: nowrap
  width: min-content
  min-width: 100%
  display: inline-flex 
  flex-direction: row

.dt-head-cell
  position: relative
  font-weight: 500
  padding: 0
  min-width: $tableHeadCellSliderWidth
  background-color: #fafafa

.dt-drag-el
  position: absolute
  z-index: 1000
  cursor: grabbing
  border-left: $tableBorder
  border-right: $tableBorder
  opacity: 0.6

.dt-head-cell-text
  width: 100%
  padding: $tableHeadCellPadding
  box-sizing: border-box
  z-index: 10
  cursor: grab
  user-select: none
  text-overflow: ellipsis
  overflow: hidden

.dt-head-cell-text:active
  cursor: grabbing

.dt-head-cell-slider
  position: absolute
  right: 0
  top: 0
  width: $tableHeadCellSliderWidth
  height: $tableHeadHeight
  float: left
  cursor: col-resize
  box-sizing: border-box
  border-right: $tableBorder
  z-index: 20

.dt-head-drop-preview
  position: absolute
  top: 0
  height: $tableHeadHeight
  border-left: $tableHeadCellDropBorder
  z-index: 999

.dt-head-sort-mark
  position: absolute
  top: $tableHeadHeight * 0.375
  right: math.div($tableHeadHeight, 6)
  height: math.div($tableHeadHeight, 4)
  width: math.div($tableHeadHeight, 4)

.dt-head-sort-svg-line
  fill: none
  stroke: #000
  stroke-linecap: round
  stroke-linejoin: round
  stroke-width: 48px

.dt-head-sort-svg-order-text
  font-size: math.div($tableHeadHeight, 6)
