$tableHeadHeight: 60px;

.dt-table {
  display: inline-block
}

.dt-head {
  position: sticky;
  top: 0;
  color: #616161;
  background-color: #fafafa;
  height: $tableHeadHeight;
  align-items: center; /* align vertical */
}

.dt-row {
  display: table-row;
}

.dt-cell {
  width: 200px;
  display: table-cell;
  border: 1px solid #eee;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  text-align: left;
  padding: 16px;
}

.dt-head-cell {
  font-weight: 500;
}

.dt-scroll-container {
  overflow: scroll;
  height: 100%;
}