.plw-endless-scroller
  overflow: hidden
  position: relative
  height: 20px

.plw-es-cell
  position: absolute
  top: 0
  bottom: 0
  border: solid 1px #fff
  border-right: none
  padding: 0
  margin: 0
  box-sizing: border-box
  