@use "sass:math"
$scrollBarSize: 20px
$scrollBarMargin: 5px
$scrollBarBorder: 1px solid rgba(255,255,255,0.8)
$scrollBarResizeBorder: 1px solid rgba(255,255,255,0.6)
$scrollBarBorderRadius: math.div($scrollBarSize, 4)
$resizeFieldSize: 5px
  
.plw-sb-con
  position: absolute
  z-index: 99
  border: 1px solid rgba(200,200,200,0.2)
  background-color: rgba(200,200,200,0.1)
  border-radius: $scrollBarBorderRadius

.plw-scroll-bar
  box-sizing: border-box
  border: $scrollBarBorder
  display: grid
  background-color: rgba(255,255,255,0.05)
  border-radius: $scrollBarBorderRadius

.plw-scroll-bar:hover
  background-color: rgba(255,255,255,0.1)

.plw-scroll-bar-active
  background-color: rgba(255,255,255,0.2) !important

.plw-sb-con-x
  height: $scrollBarSize
  bottom: $scrollBarMargin

.plw-sb-con-y
  width: $scrollBarSize
  right: $scrollBarMargin

.plw-sb-bar-x
  min-width: 10px
  height: $scrollBarSize
  grid-template-columns: $resizeFieldSize auto $resizeFieldSize

.plw-sb-bar-y
  min-height: 10px
  width: $scrollBarSize
  grid-template-rows: $resizeFieldSize auto $resizeFieldSize

.plw-sb-resize-field
  border-radius: $scrollBarBorderRadius

.plw-sb-resize-field-x
  @extend .plw-sb-resize-field
  cursor: ew-resize

.plw-sb-resize-field-left
  @extend .plw-sb-resize-field-x
  grid-column: 1
  border-right: $scrollBarResizeBorder

.plw-sb-resize-field-right
  @extend .plw-sb-resize-field-x
  grid-column: 3
  border-left: $scrollBarResizeBorder

.plw-sb-resize-field-y
  @extend .plw-sb-resize-field
  cursor: ns-resize

.plw-sb-resize-field-up
  @extend .plw-sb-resize-field-y
  grid-row: 1
  border-bottom: $scrollBarResizeBorder

.plw-sb-resize-field-down
  @extend .plw-sb-resize-field-y
  grid-row: 3
  border-top: $scrollBarResizeBorder
