@use "sass:math"
$scrollBarSize: 20px
$scrollBarMargin: 5px
$scrollBarBorder: 1px solid rgba(255,255,255,0.8)
$scrollBarResizeBorder: 1px solid rgba(255,255,255,0.6)
$scrollBarBorderRadius: math.div($scrollBarSize, 4)
$resizeFieldSize: 5px
  
.plw-sb-con
  position: absolute
  z-index: 99
  border: 1px solid rgb(86, 86, 87, 0.9)
  background-color: rgb(59, 60, 62, 0.9)
  border-radius: $scrollBarBorderRadius

.plw-scroll-bar
  box-sizing: border-box
  border: $scrollBarBorder
  display: grid
  background-color: rgba(255,255,255,0.05)
  border-radius: $scrollBarBorderRadius

.plw-scroll-bar:hover
  background-color: rgba(255,255,255,0.1)

.plw-scroll-bar-active
  background-color: rgba(255,255,255,0.2) !important

.plw-sb-con-x
  height: $scrollBarSize
  bottom: $scrollBarMargin

.plw-sb-con-y
  width: $scrollBarSize
  right: $scrollBarMargin

.plw-sb-bar-x
  min-width: 10px
  height: $scrollBarSize
  grid-template-columns: $resizeFieldSize auto $resizeFieldSize

.plw-sb-bar-x > .plw-sb-resize-field
  cursor: e-resize

.plw-sb-bar-y > .plw-sb-resize-field
  cursor: n-resize

.plw-sb-bar-y
  min-height: 10px
  width: $scrollBarSize
  grid-template-rows: $resizeFieldSize auto $resizeFieldSize

.plw-sb-resize-field
  border-radius: $scrollBarBorderRadius
  background: rgba(255,255,255,0.2)

.plw-sb-resize-field-start
  @extend .plw-sb-resize-field
  grid-column: 1

.plw-sb-resize-field-end
  @extend .plw-sb-resize-field
  grid-column: 3
  
